################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AMMFramework/bin/Debug
/AMMFramework/obj/Debug
/packages
/TestAMM/bin/Debug
/TestAMM/obj/Debug
/AMMFramework/obj/Release/AMMFramework.csproj.CoreCompileInputs.cache
*.cache
